body {
	padding-top: 100px;
	padding-bottom: 0px;
}

@media (max-width: 980px){
	body {
		padding-top: 0;
	}
}
.hero-unit h1 {
	font-size: 48px;
}
.hero-unit .badge {
	width:20px;
	padding:10px;
	height: 20px;
	float:left;
	font-size:3em;
	
}
a {
	color:#000;
}
.nav-collapse{
	padding-top:10px;
}
.navbar .brand {
	background:url(../img/tes.png) no-repeat;
	height:80px;
	width:220px;
	margin:0;
	padding:0;
	margin-right:20px;
	padding-bottom:10px;
}
.navbar-inner {
	background: url(../img/bg-head.png) repeat-x transparent;
	box-shadow: none;
}
.caret {
	margin-top:8px;
	margin-left:8px;
}
.dropdown-menu{
	background-color:#3CB9C6;
}
.itemku {
	margin-bottom:20px;
}
.gbrfooter{
	background:url(../img/tes2.png);
	width:210px;
	height:76px;
	float:left;
}
.footer .pull-right{
	margin-top:15px;
	text-align:right;
}